8-data-access/02_valid_and_well_formed_xml/country.xsd

<?xml version="1.0"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="country" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="country">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"></xs:element>
        <xs:element name="capital" type="xs:string"></xs:element>
        <xs:element name="description" type="xs:string"></xs:element>
      </xs:sequence>
      <xs:attribute name="countryCode" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>